[submodule "git"]
	path = git
	url = https://github.com/Laoujin/Git-Config.git
[submodule "powershell"]
	path = powershell
	url = https://github.com/Laoujin/PowerShell-Config.git
[submodule "claude"]
	path = claude
	url = https://github.com/Laoujin/claude-config.git
[submodule "bash"]
	path = bash
	url = https://github.com/Laoujin/bash-config.git
